@font-face {
    font-family: vazir;
    src: url('./Vazir.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: vazir;
    src: url('./Vazir-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: vazir;
    src: url('./Vazir-Medium.ttf');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: vazir;
    src: url('./Vazir-Light.ttf');
    font-weight: 300;
    font-style: normal;
}
