.confirm-page-container{
    padding: 10px 20px;
    font-size: 18px;
}
.confirm-page-container .proccess{
    padding: 5px 10px;
    margin-bottom: 20px;
}
.confirm-page-container .proccess .header{
    text-align: center;
    margin-bottom: 20px;
}
.confirm-page-container .proccess .header h3{
    font-size: .9em;
    color: #333;
    font-weight: bold;
}

.confirm-page-container .main{
    padding: 5px 0px;
    direction: ltr;

}
.confirm-page-container .main *{
    /* direction: ltr; */

}

.confirm-page-container .main .content{

    width: 100%;
}


.confirm-page-container .main .addresses{
    padding: 5px;
    width: 100%;
}
.confirm-page-container .main .addresses *{
    direction: ltr;

}
.confirm-page-container .main .addresses .header{
    direction: rtl !important;
    padding: 0px 20px;
    text-align: right;
    border-bottom: 1px solid red;
    width: 100%;
    margin-bottom: 30px;
    
}
.confirm-page-container .main .addresses .header p{
    color: #555;
    font-weight: bold;
    
}
.confirm-page-container .main .addresses .add-address{
    padding: 10px 20px;
}
.confirm-page-container .main .addresses .add-address a{
    margin-top: 30px;
}
.confirm-page-container .main .content .products{


}
.confirm-page-container .main .content .products h6{
  font-weight: bold;
  font-size: 1.4em;
  padding: 10px 30px;
  border-bottom: 1px solid red;
  margin-bottom: 20px;
  text-align: center;
}
.confirm-page-container .main .content .products .product{
  padding: 5px 10px;
  font-size: 1.1em;
  display: flex;
  justify-content: center;
  align-items: center;
}


.confirm-page-container .main .content .products .product a{
  padding: 0px 10px;
}

.confirm-page-container .main .content .products .product a img{
  width: 100px;
  border-radius: 10px;
}

.confirm-page-container .main .content .products .product .detail{
  font-weight: bold;
}

.confirm-page-container .main .content .products .product .detail .price{
  color: #27ae60;
}
.myhr{
    margin-bottom: 70px;
    
}
.confirm-page-container .main .content .total-prices{
  padding: 20px;
  border: 1px outset #555;
  border-radius: 5px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 50px 0px;
  box-shadow: 10px 10px #999;
}

.confirm-page-container .main .content .total-prices p{
  color: #c0392b;
  font-weight: bold;
  text-align: center;
  font-size: 1.3em;

  
}

.confirm-page-container .main .content .total-prices small{
  font-size: .7em;
}

.confirm-page-container .main .content .total-prices .total-price{
  text-align: center;
  margin: 10px 0px;
  font-weight: bold;
  color: #27ae60;
  font-weight: bold;
  
  
}

.confirm-page-container .main .content .total-prices .real-price{
  text-align: center;
  margin: 10px 0px;
  font-weight: bold;
  color: #c0392b;
  font-weight: bold;
}

.confirm-page-container .main .content .total-prices .saves-money{
  text-align: center;
  margin: 10px 0px;
  font-weight: bold;
  color: #2980b9;
  font-weight: bold;
}
.confirm-page-container .main .content .total-prices .saves-money span,
.confirm-page-container .main .content .total-prices .real-price span,
.confirm-page-container .main .content .total-prices .total-price span{
  color: #2c3e50;
  font-weight: normal;
}



.buy-button{
  padding: 20px 10px;
  display: flex;
  justify-content: center;
}

.buy-button button{
  width: 200px;
  padding: 15px;
  font-weight: bold;

}






/* Checkbox */

.confirm-page-container .main .addresses form {
    display: block;
    margin: auto;
    width: 99%;
    position: relative;
    margin: 0px 20px;
    
  }
  
  .confirm-page-container .main .addresses input {
    position: fixed;
    top: -1.5em;
    left: -1.5em;
  }
  
  .confirm-page-container .main .addresses label {
    cursor: pointer;
    display: block;
    font-weight: bold;
    text-shadow: 0 0.1em 0.1em rgba(0, 0, 0, 0.2);
    transition: color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .confirm-page-container .main .addresses form label span:nth-child(2){
    font-size: .7em !important;
  }
  .confirm-page-container .main .addresses label:not(:last-of-type) {
    margin-bottom: 1.5em;
  }
  .confirm-page-container .main .addresses label span {
    box-shadow: 0 0 0 0.2em currentColor inset, 0 0.2em 0.2em rgba(0, 0, 0, 0.2), 0 0.3em 0.2em rgba(0, 0, 0, 0.2) inset;
    display: inline-block;
    margin-right: 0.5em;
    vertical-align: bottom;
    width: 1.5em;
    height: 1.5em;
    
    transition: transform 0.2s cubic-bezier(0.5, 0, 0.5, 2), box-shadow 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95), color 0.2s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  
  .confirm-page-container .main .addresses label span,
  .worm__segment:before {
    border-radius: 50%;
  }
  
  .confirm-page-container .main .addresses input:checked + label,
  .confirm-page-container .main .addresses input:checked + label span,
  .worm__segment:before {
    color: #255ff4;
  }
  
  .confirm-page-container .main .addresses input:checked + .confirm-page-container .main .addresses label, .confirm-page-container .main .addresses input:checked + .confirm-page-container .main .addresses label span {
    transition-delay: 0.4s;
  }
  .confirm-page-container .main .addresses input:checked + .confirm-page-container .main .addresses label span {
    transform: scale(1.2);
  }
  
  .worm {
    top: 0.375em;
    left: 0.375em;
  }
  .worm, .worm__segment {
    position: absolute;
  }
  .worm__segment {
    top: 0;
    left: 0;
    width: 0.75em;
    height: 0.75em;
    transition: transform 0.4s cubic-bezier(0.45, 0.05, 0.55, 0.95);
  }
  .worm__segment:before {
    animation-duration: 0.4s;
    animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
    background: currentColor;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
  }
  .worm__segment:first-child:before, .worm__segment:last-child:before {
    box-shadow: 0 0 1em 0 currentColor;
  }
  
  .worm__segment:nth-child(2) {
    transition-delay: 0.004s;
  }
  .worm__segment:nth-child(2):before {
    animation-delay: 0.004s;
  }
  
  .worm__segment:nth-child(3) {
    transition-delay: 0.008s;
  }
  .worm__segment:nth-child(3):before {
    animation-delay: 0.008s;
  }
  
  .worm__segment:nth-child(4) {
    transition-delay: 0.012s;
  }
  .worm__segment:nth-child(4):before {
    animation-delay: 0.012s;
  }
  
  .worm__segment:nth-child(5) {
    transition-delay: 0.016s;
  }
  .worm__segment:nth-child(5):before {
    animation-delay: 0.016s;
  }
  
  .worm__segment:nth-child(6) {
    transition-delay: 0.02s;
  }
  .worm__segment:nth-child(6):before {
    animation-delay: 0.02s;
  }
  
  .worm__segment:nth-child(7) {
    transition-delay: 0.024s;
  }
  .worm__segment:nth-child(7):before {
    animation-delay: 0.024s;
  }
  
  .worm__segment:nth-child(8) {
    transition-delay: 0.028s;
  }
  .worm__segment:nth-child(8):before {
    animation-delay: 0.028s;
  }
  
  .worm__segment:nth-child(9) {
    transition-delay: 0.032s;
  }
  .worm__segment:nth-child(9):before {
    animation-delay: 0.032s;
  }
  
  .worm__segment:nth-child(10) {
    transition-delay: 0.036s;
  }
  .worm__segment:nth-child(10):before {
    animation-delay: 0.036s;
  }
  
  .worm__segment:nth-child(11) {
    transition-delay: 0.04s;
  }
  .worm__segment:nth-child(11):before {
    animation-delay: 0.04s;
  }
  
  .worm__segment:nth-child(12) {
    transition-delay: 0.044s;
  }
  .worm__segment:nth-child(12):before {
    animation-delay: 0.044s;
  }
  
  .worm__segment:nth-child(13) {
    transition-delay: 0.048s;
  }
  .worm__segment:nth-child(13):before {
    animation-delay: 0.048s;
  }
  
  .worm__segment:nth-child(14) {
    transition-delay: 0.052s;
  }
  .worm__segment:nth-child(14):before {
    animation-delay: 0.052s;
  }
  
  .worm__segment:nth-child(15) {
    transition-delay: 0.056s;
  }
  .worm__segment:nth-child(15):before {
    animation-delay: 0.056s;
  }
  
  .worm__segment:nth-child(16) {
    transition-delay: 0.06s;
  }
  .worm__segment:nth-child(16):before {
    animation-delay: 0.06s;
  }
  
  .worm__segment:nth-child(17) {
    transition-delay: 0.064s;
  }
  .worm__segment:nth-child(17):before {
    animation-delay: 0.064s;
  }
  
  .worm__segment:nth-child(18) {
    transition-delay: 0.068s;
  }
  .worm__segment:nth-child(18):before {
    animation-delay: 0.068s;
  }
  
  .worm__segment:nth-child(19) {
    transition-delay: 0.072s;
  }
  .worm__segment:nth-child(19):before {
    animation-delay: 0.072s;
  }
  
  .worm__segment:nth-child(20) {
    transition-delay: 0.076s;
  }
  .worm__segment:nth-child(20):before {
    animation-delay: 0.076s;
  }
  
  .worm__segment:nth-child(21) {
    transition-delay: 0.08s;
  }
  .worm__segment:nth-child(21):before {
    animation-delay: 0.08s;
  }
  
  .worm__segment:nth-child(22) {
    transition-delay: 0.084s;
  }
  .worm__segment:nth-child(22):before {
    animation-delay: 0.084s;
  }
  
  .worm__segment:nth-child(23) {
    transition-delay: 0.088s;
  }
  .worm__segment:nth-child(23):before {
    animation-delay: 0.088s;
  }
  
  .worm__segment:nth-child(24) {
    transition-delay: 0.092s;
  }
  .worm__segment:nth-child(24):before {
    animation-delay: 0.092s;
  }
  
  .worm__segment:nth-child(25) {
    transition-delay: 0.096s;
  }
  .worm__segment:nth-child(25):before {
    animation-delay: 0.096s;
  }
  
  .worm__segment:nth-child(26) {
    transition-delay: 0.1s;
  }
  .worm__segment:nth-child(26):before {
    animation-delay: 0.1s;
  }
  
  .worm__segment:nth-child(27) {
    transition-delay: 0.104s;
  }
  .worm__segment:nth-child(27):before {
    animation-delay: 0.104s;
  }
  
  .worm__segment:nth-child(28) {
    transition-delay: 0.108s;
  }
  .worm__segment:nth-child(28):before {
    animation-delay: 0.108s;
  }
  
  .worm__segment:nth-child(29) {
    transition-delay: 0.112s;
  }
  .worm__segment:nth-child(29):before {
    animation-delay: 0.112s;
  }
  
  .worm__segment:nth-child(30) {
    transition-delay: 0.116s;
  }
  .worm__segment:nth-child(30):before {
    animation-delay: 0.116s;
  }
  
  /* States */
  .confirm-page-container .main .addresses input:nth-of-type(1):checked ~ .worm .worm__segment:before {
    animation-name: hop1;
  }
  
  @keyframes hop1 {
    from, to {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1.5em);
    }
  }
  .confirm-page-container .main .addresses input:nth-of-type(2):checked ~ .worm .worm__segment {
    transform: translateY(3em);
  }
  .confirm-page-container .main .addresses input:nth-of-type(2):checked ~ .worm .worm__segment:before {
    animation-name: hop2;
  }

  .confirm-page-container .main .addresses input:nth-of-type(4):checked ~ .worm .worm__segment {
    transform: translateY(9em);
  }
  .confirm-page-container .main .addresses input:nth-of-type(4):checked ~ .worm .worm__segment:before {
    animation-name: hop4;
  }
  
  @keyframes hop2 {
    from, to {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1.5em);
    }
  }
  .confirm-page-container .main .addresses input:nth-of-type(3):checked ~ .worm .worm__segment {
    transform: translateY(6em);
  }
  .confirm-page-container .main .addresses input:nth-of-type(3):checked ~ .worm .worm__segment:before {
    animation-name: hop3;
  }
  
  @keyframes hop3 {
    from, to {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1.5em);
    }
  }
  @keyframes hop4 {
    from, to {
      transform: translateX(0);
    }
    50% {
      transform: translateX(-1.5em);
    }
  }
  /* Dark mode */
  @media screen and (prefers-color-scheme: dark) {
    body {
      background: #17181c;
      color: #e3e4e8;
    }
  
    .confirm-page-container .main .addresses input:checked + .confirm-page-container .main .addresses label,
    .confirm-page-container .main .addresses input:checked + .confirm-page-container .main .addresses label span,
  .worm__segment:before {
      color: #5583f6;
    }
  }